{% extends 'base.html' %}

{% block title %}Main{% endblock %}

{% block content %}
    <h1 class="headline">Polls</h1>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
    
    <form action="{% url "poll_mass_action" %}" method="post">
        {% csrf_token %}
    <p class="mass-actions"><input type="submit" name="delete" value="Delete selected"></p>

    {% for poll in polls %}
        <div class="poll">
            <div class="text-block">
                <h2>
                    <p>
                        <input type="checkbox" name="selected_polls"
                        id="selected_polls-{{ poll.pk }}" value="{{ poll.pk }}">
                        <a class="summary" href="{% url 'poll_view' poll.pk %}">{{ poll.text }}</a>
                    </p>
                </h2>
                <p>дата создания: {{ poll.created_at }} </p>
            </div>
            <div class="icon-block">
                <p><a class="icon update" href="{% url 'poll_update' poll.pk %}">Update</a></p>
                <p><a class="icon delete" href="{% url 'poll_delete' poll.pk %}">Delete</a></p>
            </div>
        </div>
    {% endfor %}


    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}
